:root {
  --primary: #00acff;
  --secondary: #0087ca;
  --light: #dcdcdc;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Advent Pro', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Auth {
  padding: 2rem;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth .Head {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Auth .Head svg {
  width: 4rem;
  color: white;
}

.Auth .Head p {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.Auth .Form {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  max-width: 40rem;
  min-width: 30rem;
}

.Auth .Form input.text {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  width: 90%;
  border: 1px solid gray;
  padding: 0.5rem;
}

.Auth .Form input.button {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  width: 90%;
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 0.5rem;
}
